@{
    ViewData["Title"] = "Não Encontrado";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="text-warning">404 - Não Encontrado</h2>
            <p>A página que você está procurando não foi encontrada.</p>
            <p>Verifique a URL e tente novamente.</p>
        </div>
    </div>
</div>